@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

@layer utilities {
  .gradient {
    background: linear-gradient(-45deg, #302b63, #00bf8f, #00d8d2);
  }
}

@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  body {
    font-size: 15px;
  }
}

@media (min-width: 1025px) {
  body {
    font-size: 16px;
  }
}
