@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Poppins", sans-serif;;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
}
a{
  text-decoration: none;
}

@layer utilities{
  .gradient{
    background: linear-gradient(-45deg, #302b63, #00bf8f, #00d8d2);
  }
}
